# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# Android
android/.gradle
android/local.properties
android/key.properties
**/android/app/google-services.json
**/android/app/src/**/GeneratedPluginRegistrant.java

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
